@import url('https://fonts.googleapis.com/css2?family= Ubuntu:ital@1 & display = swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Ubuntu', sans-serif;
   
}
.container{
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  right: 100vh;
  background-color: black;
}
header{
  width: 100%;
  padding: 10px;
  text-align: center;
}
.logo{
  width: 10%;
  padding-left: 50px;
}
.sociais{
  width: 25%;
}
.menu{
  width: 50%;
  padding-right: 50px ;
}
.menu nav a{
  color: whitesmoke;
  text-decoration: none;
  padding-right: 30px;
  font-size: 20px;
}

.sociais button{
  width: 40px;
  height: 40px;
  font-size: 20px;
  margin-right: 20px;
  color: white;
  background-color: black;
}
.social button i{
  font-size: 20px;
}
.sociais a{
  color: whitesmoke;
  text-decoration: none;
  font-size: 18px;
}
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}
.foooter-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  text-align: center;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;

}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}
.socials a:hover i{
    color: red;
}
.footer-bottom{
  background: black;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
#carouselExampleInterval{
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel-inner{
  text-align: center;
}
.caract{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.caract h3{
  font-size: 40px;
  color: red;
  font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.caract h4{
  font-size: 35px;
  color: #fff;
  font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.caract h5{
  font-size: 25px;
  color: #fff;
  font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.img1{

}